.footer {
	padding: 40px 0;
	background: #fff;

	&__container {}

	&__row {
		width: 100%;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__logo {}

	&__menu {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	&__menu-item {}

	&__menu-item-link {}
}