.footer {
	padding: 40px 0;
	background: #fff;

	&__container {}

	&__row {
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		margin-right: 30px;
	}

	&__menu-item {}

	&__menu-item-link {}
}