@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Lato";
$fontSize: 16;
$fontWeight: 400;
$fontWeight: 400;
$lineHeight: 19.2px;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>======================================================================================================= 

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1451;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	font-weight: $fontWeight;
	color: $mainColor;
	line-height: $lineHeight;
	// background: #333;

	a {
		font-family: "Lato";
		font-weight: 500;
		color: #000;
	}

	&._lock {
		overflow: hidden;
		touch-action: none;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ЗАГОЛОВКИ>=================================================================================================================
h1 {
	font-size: 35px;
	font-weight: 500;
	// line-height: 52.8/40*100%;
	line-height: 52.8px;
}

h2 {
	font-size: 35px;
	font-weight: 600;
	// line-height: 42/35*100%;
	line-height: 42px;
}

h3 {
	font-size: 28px;
	font-weight: 500;
	line-height: 38px;
}

h4 {
	font-size: 25px;
	font-weight: 500;
	line-height: 38px;
}

p {
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}
}

.title {
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
	text-align: center;

	&::before {
		content: '';
		float: left;
		width: 150px;
		height: 5px;
		background-color: #BFBD8F;
		margin-top: 16px;
	}
}

.section .title {
	margin-bottom: 35px;
}

@media (max-width: 768px) {
	h1 {
		font-size: 26px;
	}

	h2 {
		font-size: 24px;
	}
}

//<ЗАГОЛОВКИ>=================================================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	// min-height: 200vh;
	// position: relative;
	&._loaded {}

	// Фикс для слайдеров
	>* {
		min-width: 0;
	}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	// @media (max-width: $md1 + px) {
	// 	max-width: 970px;
	// }
	// @media (max-width: $md2+px) {
	// 	max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox";
@import "datepicker";
@import "lightgallery";
//@import "popover.min";
//@import "baguetteBox";
// @import "fancybox.min";
//@import "pagging";
// @import "map";
// @import "slider-index";
// @import "catalog";
// @import "collection";
@import "tippy";
@import "nouislider";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	// padding: 35px 0; 
	// padding-top: 80px;
}

.section {
	padding: 55px 0;
}

//===================================================================================================================================

.main-banner {
	padding: 115px 0;
	min-height: 737px;
	background-color: #EDEDED;

	// background-repeat: no-repeat;
	// background-position: 0 0;
	// background-size: cover;
	// background-image: url('../img/main-banner');
}

// .main-banner__descp {
// 	max-width: 660px;
// 	width: 100%;
// }

.main-banner__title {
	// font-family: Kazmann Sans;
	font-size: 100px;
	font-weight: 400;
	line-height: 110px;
	letter-spacing: 0em;
	text-align: left;
	align-items: start;
	margin-bottom: 35px;
}

.main-banner__subtitle {
	font-size: 32px;
	font-weight: 400;
	line-height: 38px;
	letter-spacing: 0em;
}

//========================================================================================================================================================

.about p {
	text-align: center;
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}
}

//========================================================================================================================================================

.services {

	&__inner {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	&__column {
		flex: 0 1 25%;
		display: flex;
		padding: 0 15px 30px 15px;
	}

	&__card {
		flex: 0 1 100%;
		display: flex;
		flex-direction: column;
		background-color: #fff;
		overflow: hidden;
		border-radius: 20px;
		box-shadow: 0px 4px 4px 0px #00000040;
	}

	&__card-img {
		padding-bottom: 100%;
		overflow: hidden;

		img {
			transition: transform 0.8s ease 0s;
		}

	}

	&__card-body {
		padding: 27px 18px 22px 18px;
	}

	&__card-title {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 22px;
		font-weight: 600;
		line-height: 26px;
		letter-spacing: 0em;
		text-align: center;

		&::before {
			content: '';
			float: left;
			width: 114px;
			height: 3px;
			background-color: #BFBD8F;
			margin-bottom: 16px;
		}
	}
}

.services__card:hover .services__card-img img {
	transform: scale(1.03);
}

//========================================================================================================================================================

.general-provisions p {
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
}

//========================================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<Адаптив>===========================================================================================================================================
@import "media";